<html>
    <head>
        <title>Blog Django Iniciante</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Iniciante</a></h1>
        </div>

        <div>
            <p>publicado: 08/03/2022, 19:33</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Teste.</p>
        </div>

        <div>
            <p>publicado: 08/03/2022, 19:33</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Teste1.</p>
        </div>
    </body>
</html>
